
.header_our {
  background-image: url(/public/pics/header.jpg);
  color: white;
  text-align: center;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
 
  box-shadow: 0 4px 8px rgba(29, 7, 115, 0.937);
  font-family: 'cursive';
  text-shadow: 2px 2px 8px #1c07f9;
  font-size: 180%;
  
}

.main-container {
  display: flex;
  flex-grow: 1;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0;
  justify-content: center;
  
}
.cardback
{
  background-size: 100vw 100vh;
  background-image: url(/public/pics/Cardback.png);
  
}

.dropdown-container {
  position: relative;
}
.dropdown {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #3e3c3c;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 8px rgba(60, 29, 199, 0.74);
  border-radius: 5px;
  overflow: hidden;
  z-index: 100;
}
.dropdown .dropdownBtn {
  background: #555;
  padding: 12px;
  font-size: 14px;
  transition: 0.3s;
  border: none;
}
.dropdown .dropdownBtn:hover {
  background: #777;
}
.dropdown-btn {
  position: relative;
}

.center_texts
{
  
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.content {
  flex-grow: 1;
  padding: 10px;
  margin: 0;
  color:white;
  border: 7px solid black;
  background-color:rgb(6, 23, 96)

}

.input-group {
  margin-bottom: 15px;
}


.form-control{
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}



@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .navbar {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .navbar a {
    padding: 10px;
    font-size: 14px;
  }

  .login-container {
    width: 90%;
  }
}

.error-text {
  color: red;
  font-size: 14px;
}

.message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.message.success {
  background: #28a745;
  color: white;
}

.message.error {
  background: #dc3545;
  color: white;
}

.btn-info,
.btn-info:hover,
.btn-info:focus,
.btn-info:active
{
  background-color: #200c71 !important;
  background-color: #fefefe !important;
}

.sidebar {
  width: 200px;
  height: 100vh; /* Teljes képernyő magasság */
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(/public/pics/navbar.jpg);
 
  padding: 20px;
  box-shadow: 0px 3px 6px rgba(19, 2, 89, 0.932);
}

.sidebar a {
  text-decoration: none;
  padding: 15px;
  color: white;
  background: linear-gradient(135deg, #555, #222);
  display: block;
  text-align: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(19, 2, 89, 0.932);
}
.sidebar .navBtn {
  text-decoration: none;
  padding: 15px;
  border: none;
  color: white;
  background: linear-gradient(135deg, #555, #222);
  display: block;
  text-align: center;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0px 3px 6px rgba(19, 2, 89, 0.932);
}
.sidebar a:hover:not(.active) {
  background: linear-gradient(135deg, #777, #333);
  transform: scale(1.05);
}

.sidebar a.active {
  transform: scale(0.95);
}

div.content {
  margin-left: 200px;
  padding: 5px;
  height: 100vh; 
  overflow-y: auto;
  overflow-x: hidden;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}