.newcar{
    background-image: url(/public/pics/newcar_background.webp);
    background-size: cover;
    padding: 25px;
}

.bevitel {
    width: 60%;
    background-color: #000000;
    border: none;
    height: 50px;
    border-radius: 5px;
    outline: none;
    color: rgb(48, 8, 247);
  }
  
  .bevitel:focus {
    animation: rotateShadow 2s infinite linear;
  }

@media (max-width: 768px) {
  .bevitel {
    width: 80%;
    background-color: #1a1a1a;
    border: none;
   height: 35px;
    border-radius: 5px;
    outline: none;
    color: rgb(48, 8, 247);
  }
  
  .bevitel:focus {
    animation: rotateShadow 2s infinite linear;
  }
}
  
  @keyframes rotateShadow {
    0% {
      box-shadow: -2px -2px 8px 1px #aa00ff, 2px 2px 8px 1px #3700ff;
    }
    25% {
      box-shadow: -2px 2px 8px 1px #aa00ff, 2px -2px 8px 1px #3700ff;
    }
    50% {
      box-shadow: 2px 2px 8px 1px #aa00ff, -2px -2px 8px 1px #3700ff;
    }
    75% {
      box-shadow: 2px -2px 8px 1px #aa00ff, -2px 2px 8px 1px #3700ff;
    }
    100% {
      box-shadow: -2px -2px 8px 1px #aa00ff, 2px 2px 8px 1px #3700ff;
    }
  }

  .newcar label{
    color: #000000;
    text-shadow: 2px 3px 10px #ffffff;
    font-size: 10px;
    font-family: Monospace;
  }

  @media (max-width: 768px) {
    .newcar label{
      color: #000000;
      text-shadow: 2px 3px 10px #ffffff;
      font-size: 20px;
      font-family: Monospace;
    }
}

@media (max-width: 1656px) {
  .newcar label{
    color: #000000;
    text-shadow: 2px 3px 10px #ffffff;
    font-size: 35px;
    font-family: Monospace;
  }
}

  .new{
    color: #ffffff;
    text-shadow: 2px 2px 7px #000000;
    font-size: 50px;
    font-family: Monospace;
  }

  @media (max-width: 768px) {
    .new{
      color: #ffffff;
      text-shadow: 20px 20px 40px #000000;
      font-size: 35px;
      font-family: Monospace;
    }
}

.newcar_button{
  color: #ffffff;
  text-shadow: 5px 7px 15px #000000;
    border: 2px solid rgb(5, 19, 143);
    border-radius: 5px;
    padding: 15px 65px;
    background: transparent;
    font-size: 25px;
    font-family: Monospace;
  }
  
  .newcar_button:hover {
    box-shadow: 2px 2px 15px #4607aa inset;
    border: 2px solid rgb(132, 85, 219);
  }