 /*Regisztráció*/
 .signin_container{
    background-image: url(/public/pics/signin_background.gif);
    background-size: cover;
    padding: 35px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.99);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #000000 ;
    border-radius: 15px; 
    font-size: 30px;
    font-family: cursive;
  }

  @media (max-width: 768px) {
    .signin_container{
        background-image: url(/public/pics/signin_background.gif);
        background-size: cover;
        padding: 25px;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.99);
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 8px #000000 ;
        border-radius: 11px; 
        font-size: 23px;
        font-family: cursive;
  }}
  
  /*Regisztrációs feltételek*/
  .feltetelek{
    font-family: cursive;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #000000 ;
    font-size: 18px;
  }

  @media (max-width: 768px) {
    .feltetelek{
        font-family: cursive;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 8px #000000 ;
        font-size: 16px;
      }}


      .signin_data {
        color: #000000;
        text-shadow: 2px 3px 10px #ffffff;
        border: 2px solid #ffffff;
        box-shadow: 5px 2px 15px #3a9be6 inset;
        border-radius: 10px;
        padding: 10px 25px;
        background: transparent;
        width: 400px;
        height: 50px;
        background-color: #ffffff;
      }
      
      .signin_data:active {
        box-shadow: 5px 2px 15px #1f00b8 inset;
      }