 /*Regisztráció*/
 .signin_container{
    background-image: url(/public/pics/signin_background.gif);
    background-size: cover;
    padding: 35px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.99);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #000000 ;
    border-radius: 15px; 
    font-size: 30px;
    font-family: cursive;
  }

  @media (max-width: 1024px) {
    .signin_container{
        background-image: url(/public/pics/signin_background.gif);
        background-size: cover;
        padding: 25px;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.99);
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 8px #000000 ;
        border-radius: 11px; 
        font-size: 23px;
        font-family: cursive;
  }}

  @media (max-width: 768px) {
    .signin_container{
        background-image: url(/public/pics/signin_background.gif);
        background-size: cover;
        padding: 25px;
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.99);
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 8px #000000 ;
        border-radius: 11px; 
        font-size: 23px;
        font-family: cursive;
  }}
  
  /*Regisztrációs feltételek*/
  .feltetelek{
    font-family: cursive;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px #000000 ;
    font-size: 18px;
  }

  @media (max-width: 768px) {
    .feltetelek{
        font-family: cursive;
        color: rgb(255, 255, 255);
        text-shadow: 2px 2px 8px #000000 ;
        font-size: 16px;
      }}

      .username, .password, .email {
        width: 100%;
      }


      .signin_data {
        color: #000000;
        text-shadow: 2px 3px 10px #ffffff;
        border: 2px solid #ffffff;
        box-shadow: 5px 2px 15px #3a9be6 inset;
        border-radius: 10px;
        padding: 10px 25px;
        background: transparent;
        width: 400px;
        height: 50px;
        background-color: #ffffff;
      }
      
      .signin_data:active {
        box-shadow: 5px 2px 15px #1f00b8 inset;
      }

      @media (max-width: 1024px) {
        .button {
          font-size: 10px;
          width: 85%;
          
        }
      }
      
      @media (max-width: 768px) {
        .button {
      
          width: 60%;
        }
      }
      
      @media (max-width: 600px) {
        .button {
          width: 60%;
        }
      }

      /*Gomb*/
      .button {
        position: relative;
        padding: 10px 20px;
        border-radius: 7px;
        border: 1px solid rgb(255, 255, 255);
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        background: transparent;
        color: #fff;
        overflow: hidden;
        box-shadow: 0 0 0 0 transparent;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;
        width: 100%;
        height: 45px;
      }
        
        .button:hover {
          background: rgb(2, 29, 117);
          box-shadow: 0 0 30px 5px rgba(6, 7, 7, 0.815);
          -webkit-transition: all 0.2s ease-out;
          -moz-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
        }
        
        .button:hover::before {
          -webkit-animation: sh02 0.5s 0s linear;
          -moz-animation: sh02 0.5s 0s linear;
          animation: sh02 0.5s 0s linear;
        }
        
        .button::before {
          content: '';
          display: block;
          width: 0px;
          height: 86%;
          position: absolute;
          top: 7%;
          left: 0%;
          opacity: 0;
          background: #fff;
          box-shadow: 0 0 50px 30px #fff;
          -webkit-transform: skewX(-20deg);
          -moz-transform: skewX(-20deg);
          -ms-transform: skewX(-20deg);
          -o-transform: skewX(-20deg);
          transform: skewX(-20deg);
        }
        
        @keyframes sh02 {
          from {
            opacity: 0;
            left: 0%;
          }
        
          50% {
            opacity: 1;
          }
        
          to {
            opacity: 0;
            left: 100%;
          }
        }
        
        .button:active {
          box-shadow: 0 0 0 0 transparent;
          -webkit-transition: box-shadow 0.2s ease-in;
          -moz-transition: box-shadow 0.2s ease-in;
          transition: box-shadow 0.2s ease-in;
          text-align: center;
        }

        .label_regist{
          width: 95%;
          height: 5px;
          text-align:left;
        }